@CHARSET "UTF-8";
.bgrFeedback
{
	background-color: rgb(129, 9, 9);
}
#header
{
text-align:center;
padding-top:20px;
}

h2,h5
{
	text-align:center;
	color:white;
}
#blockFeedback
{
	padding-left:450px;
	position:center;
		
}
tr,td
{
	
	text-align:center;
}

textarea
{
	
	border: 3px solid black;
	resize:none;
}


 
textarea:active, 
textarea:focus, 
textarea:hover{ 
  background-color:gray ; 
  border-color: black; 
} 


.buttonSend
{
	
	text-align:center;
	
}