@CHARSET "UTF-8";

.bgrAdmin {
	background-color: rgb(129, 9, 9);
}
#header
{
text-align:center;
padding-top:20px;
}
h2,h5
{
	text-align:center;
	color: white;
}
.page {

  background: #000000;
}


table {
  max-width: 960px;
  margin: 10px auto;
}

caption {
  font-size: 1.6em;
  font-weight: 400;
  padding: 10px 0;
}

thead th {
  font-weight: 400;
  background: black;
  color: #FFF;
}

tr {
  background: #f4f7f8;
  border-bottom: 1px solid #FFF;
  margin-bottom: 5px;
}

tr:nth-child(even) {
  background: #e8eeef;
}


td {
  text-align: center; 
  padding: 10px;
  font-weight: 100;
  
}

th
{
text-align: center; 
  padding: 10px;
  font-weight: 100;
color:white;
background-color: black;
}


tfoot tr {
  background: none;
}

tfoot td {
  padding: 10px 2px;
  font-size: 0.8em;
  font-style: italic;
  color: #8a97a0;
}