#blockOfFilters
{
margin:10px auto;
 max-width: 1400px;
}

#blockOfResults
{
	padding-top:30px;
}

.bgrSearch
{
	background-color: rgb(129, 9, 9);
}
#header
{
text-align:center;
padding-top:20px;
}
h2,h5
{
	text-align:center;
	color: white;
}
label
{
	color: white;
}


select
{
	background-color: rgba(0,0,0,0);
	border:2px double blue;
	width:200px;
	color:gray;
	border: 3px solid rgb(64,154,255);
	
}



*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}


table {
  max-width: 960px;
  margin: 10px auto;
  border: 2px solid yellow;
}

caption {
  font-size: 1.6em;
  font-weight: 400;
  padding: 10px 0;
}

thead th {
  font-weight: 400;
  background: #8a97a0;
  color: #FFF;
}

tr {
  background: #f4f7f8;
  border-bottom: 1px solid #FFF;
  margin-bottom: 5px;
}

tr:nth-child(even) {
  background: #e8eeef;
}


td {
  text-align: center;
  padding: 10px;
  font-weight: 300;
}
th
{
	 text-align: center;
  padding: 10px;
  font-weight: 300;
  background-color: black;
  color:white;
}
tfoot tr {
  background: none;
}

tfoot td {
  padding: 10px 2px;
  font-size: 0.8em;
  font-style: italic;
  color: #8a97a0;
}