@CHARSET "UTF-8";
.backgRestPass
{
	
	background-color: rgb(129, 9, 9);
	
}

#blockCenter
{
	text-align:center;
	padding-left:40%;
}
h2, h5
{
	text-align: center;
	color:white;
}
#buttCenter
{
	padding-left:10px;
	text-align: center;
}
#header
{
text-align:center;
padding-top:20px;
}
